In [1]:
import pandas as pd
import numpy as np

# Timestamp

Pandas has four time related classes
1. Timestamp
2. DateTimeIndex
3. Period
4. PeriodIndex

In [2]:
# Timestamp is associated values with points in time and represents a single timestamp
# Timestamp is interchangeable with python datetime in most cases

pd.Timestamp('9/1/2019 10:05PM')

Timestamp('2019-09-01 22:05:00')

In [3]:
# We can create a timeatamp by passing multiple parameters such as year, month
# date, hour, minute seperately
pd.Timestamp(2019, 12, 20, 0, 0)

Timestamp('2019-12-20 00:00:00')

In [4]:
# isoweekday() attribute shows the weekday of the timestamp
# 1 represents Monday and 7 represents Saturday
pd.Timestamp(2019, 12, 20, 0, 0).isoweekday()

5

In [5]:
# we can extract any parameter from a timestamp
pd.Timestamp(2019, 12, 20, 5, 2, 23).second

23

# Period

In [6]:
# Period represents a single time span, such as a specific day or month

pd.Period('1/2016')

Period('2016-01', 'M')

In [7]:
# when we print out that the granularity of the period is M for month
# another example
pd.Period('12/05/2016')

Period('2016-12-05', 'D')

In [8]:
# Period objects represents the full timespan that we specify. Arithmetic on
# period is very easy and intuitive.
# For instance, if we want to find out 7 months after January 2019, we simply
# plus 7
pd.Period('1/2019') + 5

Period('2019-06', 'M')

In [9]:
# similarly
pd.Period('25/12/2019') - 2

Period('2019-12-23', 'D')

In [10]:
# The Period object encapsulates the granularity for Arithmetic.

# DatetimeIndex and PeriodIndex

In [11]:
# The index of a timestamp is DatetimeIndex.
# When we look at the series, each Timestamp is the index and has a value 
# associated with it, in this case a, b, c and so on

t1= pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'),
                           pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [12]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [13]:
#  Similarly, we can create a period based index as well
t2= pd.Series(list('def'), [pd.Period('2018-07'), pd.Series('2018-08'),
                           pd.Period('2018-09')])
t2

2018-07      d
[2018-08]    e
2018-09      f
dtype: object

In [14]:
type(t2.index)

pandas.core.indexes.base.Index

# Converting to Datetime

In [15]:
# lets use a bunch of different date formats
d1= ['2 June 2015', 'Aug 29 2014', '2015-06-26', '7/12/16']

# and some random data
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index = d1,
                  columns=list('ab'))
ts3

              a   b
2 June 2015  11  90
Aug 29 2014  41  78
2015-06-26   21  91
7/12/16      53  65

In [16]:
# using Pandas to_datetime, it will try to convert these Datetime and put them
# in a standard format.
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2015-06-02  11  90
2014-08-29  41  78
2015-06-26  21  91
2016-07-12  53  65

In [17]:
# to_datetime() also has option to change the data parse order
# we can pass in the argument dayfirst = True to parse the date in European date.
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

# Timedelta

In [18]:
# Timedelta is the difference in times, this is conceptually similar to Period.
pd.Timestamp('5/20/2016')-pd.Timestamp('5/5/2016')

Timedelta('15 days 00:00:00')

In [19]:
# We can also find the date and time for a particular day when we add or subtract
# some of the information

pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

# Offset

In [20]:
# Offset is similar to timedelta, but it follows specific calendar duration
# rules. Offset allows flexibility in terms of types of time intervals.
# Besides hour, day, week, month, etc. It also has things like business day
# and end of month, semi month begin etc.

In [21]:
# lets create a Timestamp and see what day is that
pd.Timestamp('9/4/2016').weekday()

6

In [22]:
# Now we can add the timestamp with a week ahead
pd.Timestamp('9/4/2016')+pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [23]:
# MonthEnd() gives the last date of the month
pd.Timestamp('9/4/2016')+pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

# Working with Dates in a DataFrame

In [24]:
# Using date_range, we can create the DatetimeIndex. In date_range, we have to 
# either specify the start or the end date, if it is not explicitly specified
# by default, the date is considered the start date then we have to specify 
# number of periods and a frequency

dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates                      # here '2W_SUN' means biweekly on Sunday

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [25]:
# There are many other frequencies that we can specify
pd.date_range('10-01-2016', periods=9, freq='B') # 'B' means business day

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [26]:
# or we can do quarterly
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [27]:
# Lets create a DataFrame  using a date and some random data

dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100+np.random.randint(-5, 10, 9).cumsum(),
                   'Count 2': 120+np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      105      129
2016-10-16      104      120
2016-10-30      100      127
2016-11-13       95      120
2016-11-27      100      124
2016-12-11      102      115
2016-12-25      101      123
2017-01-08      104      127
2017-01-22       99      118

In [31]:
# We can check the difference between each date's value.
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16     -1.0     -9.0
2016-10-30     -4.0      7.0
2016-11-13     -5.0     -7.0
2016-11-27      5.0      4.0
2016-12-11      2.0     -9.0
2016-12-25     -1.0      8.0
2017-01-08      3.0      4.0
2017-01-22     -5.0     -9.0

In [32]:
# We can know the mean count for the month
df.resample('M').mean()

            Count 1     Count 2
2016-10-31    103.0  125.333333
2016-11-30     97.5  122.000000
2016-12-31    101.5  119.000000
2017-01-31    101.5  122.500000

In [33]:
# Datetime indexing and slicing
# We can use partial string indexing to find values from a particular year
df['2017']

            Count 1  Count 2
2017-01-08      104      127
2017-01-22       99      118

In [34]:
# or we can do it from a particular month
df['2016-12']

            Count 1  Count 2
2016-12-11      102      115
2016-12-25      101      123

In [35]:
# We can even slice on a range of dates, from a particular date onwards
df['2016-12':]

            Count 1  Count 2
2016-12-11      102      115
2016-12-25      101      123
2017-01-08      104      127
2017-01-22       99      118