In [3]:
import pandas as pd

# lets create two DataFrames, staff and students
staff_df= pd.DataFrame([{'Name': 'Kelly', 'Role':'Director'},
                        {'Name': 'Sally', 'Role': 'Course Liasion'},
                       {'Name': 'James', 'Role': 'Grader'}])
# and index these staff by name
staff_df= staff_df.set_index('Name')

# student DataFrame
student_df= pd.DataFrame([{'Name': 'James', 'School':'Business'},
                        {'Name': 'Mike', 'School': 'Law'},
                       {'Name': 'Sally', 'School': 'Engineering'}])
# and index this by name too
student_df = student_df.set_index('Name')

print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly        Director
Sally  Course Liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [4]:
# By passing merge() function in the DataFrame on the left and the DataFrame
# on the right and telling merge that we want it to use an outer join, we want 
# to use the left and right indices a the joining columns

pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)
# this gives the union of two DataFrames

                 Role       School
Name
James          Grader     Business
Kelly        Director          NaN
Mike              NaN          Law
Sally  Course Liasion  Engineering

In [5]:
# If we want to get the intersection, we could set the how attribute to inner
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                 Role       School
Name
Sally  Course Liasion  Engineering
James          Grader     Business

In [6]:
# The DataFrames above shows the staff can also be the student. So, to ge the
# details of the staff who are also the students, we would use a left join.
# The order of  DataFrames in this functoin, the first DataFrame is the left
# and the second is the right DataFrame
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly        Director          NaN
Sally  Course Liasion  Engineering
James          Grader     Business

In [7]:
# We want a list of all of the students and their roles if they were also staff
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course Liasion  Engineering

In [8]:
# We can also do the other way, we can use columns to join the DataFrames.
# We have a parameter 'on' and we can assign a column that both dataframes has
# as the joining column

# First, remove the index from both DataFrames
staff_df= staff_df.reset_index()
student_df= student_df.reset_index()

# Now, merge using the on parameter
pd.merge(staff_df, student_df, how='outer', on='Name')

    Name            Role       School
0  Kelly        Director          NaN
1  Sally  Course Liasion  Engineering
2  James          Grader     Business
3   Mike             NaN          Law